@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Jazz Inc.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to Jazz Inc. Where all things are wonderful and cool.
            </p>
        </div>
    </section>
}
<h3>This web page was made by an extremely agile company:</h3>
<ol class="round">
    <li class="one">
        <h5>We release new features every single day.</h5>
    </li>
      <br/>
    <li class="two">
        <h5>All of our functionality is testing with automated tests.</h5>
    </li>
    <br/>
</ol>
